.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.venv
# Catch pycache in any directory level
**/__pycache__/
*.py[cod]
__pycache__/
.pyc
.temp/
CLAUDE.local.md
